.koreCircle{
	display:inline;
	float:left;
	width:100px;
	height:100px;
	background:rgb(96,100,200);
	border-radius: 50%;
	margin:auto;
	margin-top:25px;
	margin-left:10px;
	margin-bottom:30px;
	cursor: pointer;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2), -2px 2px 2px rgba(0,0,0,0.2);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
	opacity:0;
	padding-top: 40px;
}
.getBigger{
	-moz-animation:bigger 0.1s linear forwards;
}
@-moz-keyframes bigger{
	33%{transform:scale(0.5); opacity:0;}
	66%{transform:scale(0.75);opacity:0;}
	100%{transform:scale(1); opacity:1;}
}
.koreCircle:hover{
	background:#FFF !important;
	width:150px;
	height:150px;
	margin-top:0px;
	
}

.con{
	position: obsolute;
	left: 500px;
	top: 200px;

}

.f1, .f4, .f7{
	padding-left: 100px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;

}

.cont{
	width: 100%;
	
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}

.conn{
	margin: 0 auto;
}




}

.mark{
	width: 600px;
	overflow: 
}

.c1, .c2, .c3{
	display: inline-block;
	padding-left: 30px;
	padding-top: 10px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
	

}


.i1, .i2, .i3{
	margin-top:50px;
	margin-left:10px;
	margin-bottom:30px;

}

.i1, .i2, .i3{
	margin-top: 25px;
}